@charset "UTF-8";

/* * {
    border: 1px solid red
} */

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body {
    overflow-x: hidden;
    /* 横スクロールを非表示にする */

}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #804e00;

    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul,
ol {
    /*左の「・」を消す*/
    list-style: none;
}

li {
    list-style: none;
    list-style-position: inside;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    color: #804e00;
    font-size: 1.17vw;
    line-height: 3.18;
    font-feature-settings: "palt";
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    /* font-family: sans-serif; */
    font-style: normal;
}

@font-face {
    font-family: 'DreamAvenue';
    src: url('../font/dream-avenue\ 2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ----LOADING---- */
#loading {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -10px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

#loading span {
    display: block;
    width: 100px;
    height: 5px;
    margin-top: 3px;
    animation: load 2s infinite;
    border-radius: 5px;
}

#loading span:nth-child(1) {
    background: #f7eee3;
}

#loading span:nth-child(2) {
    background: #f2e9bf;
    animation-delay: 100ms;
}

#loading span:nth-child(3) {
    background: #f2cac4;
    animation-delay: 200ms;
}

#loading span:nth-child(4) {
    background: #c1e4e6;
    animation-delay: 300ms;
}

#loading span:nth-child(5) {
    background: #9fd2c9;
    animation-delay: 400ms;
}

@keyframes load {
    50% {
        width: 5px;
        margin-right: 95px;
        opacity: 0.1;
    }
}

.loading-text {
    margin-top: 20px;
    font-family: 'DreamAvenue', sans-serif;
}

header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    background-color: rgb(255, 255, 255, 1);
    transition: top 0.3s;
    /* アニメーション効果 */

}

header.hidden {

    top: -100px;
    /* ヘッダーが隠れる位置 */
}

/* 
.pc-nav ul {

    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
} */

.pc-nav li {
    font-family: 'DreamAvenue', sans-serif;
    font-weight: bolder;
    background: linear-gradient(-75deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 7px 10px 5px;
    position: relative;
    margin: 0 10px;
    transition: color 0.3s;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.pc-nav {
    position: relative;
}

.pc-nav ul {
    display: flex;
    justify-content: flex-end;
    padding: .5% 50px;
    list-style: none;
    /* デフォルトのリストスタイルを解除 */
    margin: 0;
}

.pc-nav li {
    position: relative;
    overflow: hidden;
    /* 背景をはみ出さないように */
    margin: 0 10px;
    /* 各リスト項目の間隔 */
}

/* リンクの基本設定 */
.pc-nav li a {
    display: block;
    padding: 5px 15px;
    /* テキストのパディング */
    text-decoration: none;
    /* アンダーラインを消す */
    color: #804e00;
    /* テキスト色 */
    transition: all 0.7s;
    /* アニメーション */
}

/* 背景アニメーション設定 */
.pc-nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    /* 初期幅 */
    height: 100%;
    /* 高さは100% */
    background: transparent;
    /* 初期は透明 */
    transition: all 0.5s ease;
    /* アニメーション効果 */
    z-index: -1;
    /* テキストの背面に配置 */
}

/* ホバー時のアニメーション設定 */
.pc-nav li a:hover::after {
    width: 100%;
    /* ホバー時に全幅に */
    opacity: 1;
    /* 不透明にする */
}

/* 各色のホバー設定 */
.light-pink a:hover::after {
    background-color: #f7eee3;
}

.light-yellow a:hover::after {
    background-color: #f2e9bf;
}

.light-red a:hover::after {
    background-color: #f2cac4;
}

.light-blue a:hover::after {
    background-color: #c1e4e6;
}

.light-teal a:hover::after {
    background-color: #9fd2c9;
}

/* ホバー時のテキスト設定 */
.pc-nav li a:hover {
    color: #fff;
    /* ホバー時のテキスト色 */
    z-index: 1;
    /* テキストを最前面に */
}

/* ----画面遷移---- */
/*========= ローディング画面のためのCSS ===============*/
#spl {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999999;
    text-align: center;
    color: #fff;
}

#spl-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: "Noto Serif", serif ;
    letter-spacing: 0.1em;
    color: #804e00;
    line-height: 1.75;
}

/*========= 画面遷移のためのCSS ===============*/

body.appear {
    background: #fff;
    /*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2 {
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splbg1,
body.appear .splbg2 {
    display: block;
}

/*右に消えるエリア*/
body.appear .splbg1 {
    animation-name: PageAnime;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: scaleX(1);
    background: linear-gradient(to bottom,
            #f7eee3 0%,
            #f7eee3 20%,
            #f2e9bf 20%,
            #f2e9bf 40%,
            #f2cac4 40%,
            #f2cac4 60%,
            #c1e4e6 60%,
            #c1e4e6 80%,
            #9fd2c9 80%,
            #9fd2c9 100%);
    height: 100vh;
    /* 背景が画面全体に適用されるように高さを設定 */
    margin: 0;
    /* 画面端に隙間が出ないように設定 */
}

@keyframes PageAnime {
    0% {
        transform-origin: left;
        transform: scaleX(1);
    }

    50% {
        transform-origin: right;
    }

    100% {
        transform-origin: right;
        transform: scaleX(0);
    }
}

/*左に消えるエリア*/
body.appear .splbg2 {
    animation-name: PageAnime2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 50%;
    transform: scaleX(1);
    background: linear-gradient(to bottom,
            #f7eee3 0%,
            #f7eee3 20%,
            #f2e9bf 20%,
            #f2e9bf 40%,
            #f2cac4 40%,
            #f2cac4 60%,
            #c1e4e6 60%,
            #c1e4e6 80%,
            #9fd2c9 80%,
            #9fd2c9 100%);
    height: 100vh;
    /* 背景が画面全体に適用されるように高さを設定 */
    margin: 0;
    /* 画面端に隙間が出ないように設定 */
}

@keyframes PageAnime2 {
    0% {
        transform-origin: right;
        transform: scaleX(1);
    }

    50% {
        transform-origin: left;
    }

    100% {
        transform-origin: left;
        transform: scaleX(0);
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
    opacity: 0;
    /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
    animation-name: PageAnimeAppear;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes PageAnimeAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.openbtn,
.sp-nav {
    display: none;
}

/* -----mainvisual---- */
#mainvisual {
    width: 100%;
    height: 115vh;
    background-color: #fff;
    z-index: 2;

}

h1 {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mask .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 90;
    /*線の太さを指定する*/
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1500;
    /* 線の間隔を指定する */
    stroke-dashoffset: 1500;
    /* 線の位置を指定する */
}

/* 各レインボーラインにアニメーションを適用 */
.rainbow-1,
.rainbow-2,
.rainbow-3,
.rainbow-4,
.rainbow-5 {
    position: absolute;
    left: -100%;
    /* 初期位置を画面外に */
    width: calc(100vw - calc(100vw - 100%));
    /* 100vwのスクロールバーの横幅をひく */
    height: 4%;
    animation: slideRight 5s ease-out forwards;
    /* 右に移動するアニメーションを適用 */
}

/* レインボーの順番に少しずつ遅延させる */
.rainbow-1 {
    background-color: #f7eee3;
    bottom: 25%;
    animation-delay: 0s;
    /* 最初は遅延なし */
}

.rainbow-2 {
    background-color: #f2e9bf;
    bottom: 20%;
    animation-delay: 1s;
    /* 0.5秒遅延 */
}

.rainbow-3 {
    background-color: #f2cac4;
    bottom: 15%;
    animation-delay: 2s;
    /* 1秒遅延 */
}

.rainbow-4 {
    background-color: #c1e4e6;
    bottom: 10%;
    animation-delay: 3s;
    /* 1.5秒遅延 */
}

.rainbow-5 {
    background-color: #9fd2c9;
    bottom: 5%;
    animation-delay: 4s;
    /* 2秒遅延 */
}


/* アニメーションの定義 */
@keyframes slideRight {
    from {

        left: -100%;
        /* 左側から開始 */
    }

    to {
        left: 0%;
        /* 終了後はleft: 0で画面に固定 */
    }
}

/* ----sub title---- */
.left-title {
    width: auto;
    /* height: 180px; */
    display: inline-block;
    background: linear-gradient(125deg,
            #f7eee3,
            #f2e9bf,
            #f2cac4,
            #c1e4e6,
            #9fd2c9);
    padding:3%;
    position: absolute;
    top: 80px;
    left: -3%;
    z-index: 1;
    background-size: 400% 400%;
    /* アニメーションのためのサイズ */
    animation: GradietionAnimation 10s ease infinite;
    /* アニメーションを適用 */
}

@keyframes GradietionAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#about,
#works,
#information,
#skills,
#profile,
#contactform,
#website-list,
#banner-list,
#website-detail-1 {
    position: relative;
    padding: 12% 0 8%;
}

#banner-list,
#website-list {
    padding: 30px 0 50px;
}

.right-title {
    display: inline-block;
    width: auto;
    /* height: 180px; */
    background: linear-gradient(45deg,
            #f7eee3,
            #f2e9bf,
            #f2cac4,
            #c1e4e6,
            #9fd2c9);
    background-size: 400% 400%;
    /* アニメーションのためのサイズ */
    padding: 3%;
    position: absolute;
    top: 80px;
    right: -3%;
    z-index: 1;
    animation: GradietionAnimation 10s ease infinite;
    /* アニメーションを適用 */
}

@keyframes GradietionAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h2 {
    font-family: 'DreamAvenue', sans-serif;
    font-size: 7.17vw;
    color: #fff;
    align-items: center;
    margin-bottom: 10px;
}

/* ふわっと表示させるCSS */
.text {
    opacity: 0;
}

.text.active {
    animation: 2s fadeup-left ease-in-out forwards;
}

@keyframes fadeup-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
        /* 左から右へ */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-right {
    opacity: 0;
}

.text-right.active {
    animation: 2s fadeup-right ease-in-out forwards;
}

@keyframes fadeup-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
        /* 右から左へ */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.text_wrap:hover .text {
    animation: 1s fadeup ease-in-out forwards;
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h3 {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.wrapper {
    max-width: 1020px;
    margin: 100px auto 30px;
    border: 10px solid transparent;
    /* 透明なボーダーを設定 */
    border-image: linear-gradient(-45deg, #fbf7c4 0%, #804e00 50%, #b1ae8a 70%, #958d57 85%, #fbf7c4 100%) 1;
    /* グラデーションをボーダーに適用 */
    text-align: center;
    z-index: -5;
    border-radius: 10px;
}



#about .link {
    width: 19.76vw;
    height: 4.98vw;
    border: #b0923f 1px solid;
    font-family: 'DreamAvenue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(-45deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
    font-weight:bolder;
    letter-spacing: 0.1em;
}

#works .link,
#profile .link,
#website-list .link,
#banner-list .link,
.detail-link,
[type="submit"] {
    width: 19.76vw;
    height: 4.98vw;
    border: #b0923f 1px solid;
    font-family: 'DreamAvenue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
    font-weight:bolder;
    letter-spacing: 0.1em;
}

#website-list .link,
#banner-list .link {
    width: 19.76vw;
    height: 4.98vw;
    font-weight:bolder;
    letter-spacing: 0.1em;
    margin: 5% auto;
}

.contactform-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 80px;
    margin: 50px auto;
    text-decoration: none;
    font-family: 'DreamAvenue', sans-serif;
    border: #b0923f 1px solid;
    background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
    font-weight:bolder;
    letter-spacing: 0.1em;
}


/* ホバー時のスタイル */
#about .link:hover,
#works .link:hover,
#profile .link:hover,
#website-list .link:hover,
#banner-list .link:hover,
.detail-link:hover,
#website-list .link:hover,
#banner-list .link:hover,
.contactform-link:hover,
[type="submit"]:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    /* 擬似要素の位置を相対的に */

}

/* ----about---- */
.about-text {
    max-width: 550px;
    margin-top: 23%;
    margin-left: 38%;
    text-align: left;
}

.about-title {
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.38;
}

.about-story {
    letter-spacing: 0.05em;
    line-height: 3.18;
}

.profile-text {
    margin: 100% 0;
    /* 画面下部に位置させるための余白 */
}

.line {
    opacity: 0;
    /* 初期状態は透明 */
    transform: translateY(20px);
    /* 下にずらす */
    transition: opacity 3s ease, transform 5s ease;
    /* アニメーションの効果 */
}

.line.is-animated {
    opacity: 1;
    /* アニメーション後は不透明に */
    transform: translateY(0);
    /* 元の位置に戻す */
}

.line-color {
    font-size: 1.3rem;
    background: linear-gradient(to left,
    rgba(247, 238, 227, 0.5),
    rgba(242, 233, 191, 0.5),
    rgba(242, 202, 196, 0.5),
    rgba(193, 228, 230, 0.5),
    rgba(159, 210, 201, 0.5));
    background: -webkit-linear-gradient(left,
    rgba(247, 238, 227, 0.5),
    rgba(242, 233, 191, 0.5),
    rgba(242, 202, 196, 0.5),
    rgba(193, 228, 230, 0.5),
    rgba(159, 210, 201, 0.5), transparent 50%);
    background: -moz-linear-gradient(left, 
    rgba(247, 238, 227, 0.5),
    rgba(242, 233, 191, 0.5),
    rgba(242, 202, 196, 0.5),
    rgba(193, 228, 230, 0.5),
    rgba(159, 210, 201, 0.5), transparent 50%);
    background: linear-gradient(left,
    rgba(247, 238, 227, 0.5),
    rgba(242, 233, 191, 0.5),
    rgba(242, 202, 196, 0.5),
    rgba(193, 228, 230, 0.5),
    rgba(159, 210, 201, 0.5), transparent 50%);
    background-size: 300% .8em; 
    background-position: 100% .5em;
    transition: 2s;
}

    .line-color.is-active{
        background-position: 0% .5em;
    }
  .line-wrap {
    display: block;
    margin-bottom: 50px;
  }


/* ----works---- */

.works-title,
.banner-title {
    font-weight:bolder;
    text-align: left;
    font-family: 'DreamAvenue', sans-serif;
    margin: 30% 0 5% 5%;
    font-size: 2.63vw;
    letter-spacing: .1em;
    background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
}
    .banner-title{
        margin: 15% 0 5% 5%;
   
    }
.website_slider {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    position: relative;
    width: 100vw;
    /* ビューポート全体の幅に */
    left: 50%;
    /* wrapperの幅によって位置を調整 */
    margin-left: -50vw;
    /* 中央揃えのためにマージンを調整 */
    background-color: #fff;
}

.website_slider img {
    max-width: 100%;
    /* 画像がスライダー領域に収まるように調整 */
    height: auto;
}

.website_image {
    width: 680px;
    margin: 0 30px;
}

.banner_slider {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    height: 400px;
    /* スライダー全体の高さを400pxに指定 */
    align-items: center;
    /* 垂直方向に画像を中央揃え */
    overflow: hidden;
    /* 画像がはみ出ないようにオーバーフローを非表示 */
    position: relative;
    width: 100vw;
    /* ビューポート全体の幅に */
    left: 50%;
    /* wrapperの幅によって位置を調整 */
    margin-left: -50vw;
    /* 中央揃えのためにマージンを調整 */
    margin-right: -50vw;
    background-color: #fff;
}

.banner_image {
    width: auto;
    height: 400px;
    /* 画像の高さを400pxに指定 */
    margin: 0 30px;
    object-fit: cover;
    /* 画像のアスペクト比を維持しながら高さに合わせる */
}
/* 
.banner {
    margin-bottom: 100px;
} */

.lb-caption {
    display: none !important;
}

#works a.link {
    margin: 5% auto;
}

/* -----skills----- */
.skill {
    width: 300px;
    height: auto;
    padding: 20px;
    margin-bottom: 50px;
    background: linear-gradient(125deg,
            rgba(247, 238, 227, 0.25),
            rgba(242, 233, 191, 0.25),
            rgba(242, 202, 196, 0.25),
            rgba(193, 228, 230, 0.25),
            rgba(159, 210, 201, 0.25));
    opacity: 0;
    /* 初期状態で非表示 */
    transform: translateY(50px);
    /* 初期位置を少し下に */
    transition: opacity 3s ease, transform 0.5s ease;
    /* スムーズにアニメーション */
}

.skill.is-animated,
.website-group-right.is-animated {
    opacity: 1;
    transform: translateY(0);
    /* 元の位置に戻す */
}

.skills-garrary {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 27% auto 0;
}

.skill-title {
    font-weight:bolder;
    text-align: center;
    font-family: 'DreamAvenue', sans-serif;
    margin: 0 auto;
    font-size: 36px;
    letter-spacing: .1em;
}

.skill-text {
    line-height: 1.5;
    text-align: left;
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill.fadeup.is-animated,
.website-group-right.fadeup.is-animated {
    animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

.icon-img {
    height: 70px;
    padding: 10px;
    opacity: 0;
}

.icon-img.is-animated {
    animation: icon 1.4s ease-out;
    opacity: 1;
}

@keyframes icon {
    0% {
        transform: rotateY(0deg) translateY(40px);
        opacity: 0;
    }

    100% {
        transform: rotateY(360deg) translateY(0);
        opacity: 1;
    }
}


/* ----information---- */
#information {
    padding-bottom: 50px;
}


.info {
    display: flex;
    justify-content: center;
    margin: 27% auto 0px;
}

.contactform,
.sns {
    width: 50%;
}

.info-text {
    max-width: 95%;
    margin: 0 auto;
    line-height: 1.75;
}

.contactform-icon {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    margin: 50px auto;
}

.contactform-icon img {
    width: auto;
    /* 適切なサイズに設定 */
    height: 50px;
    margin-right: 50px;
    /* アスペクト比を維持 */
    opacity: 1;
    /* 表示する */
}

.contactform-icon img[alt="X_icon"] {
    margin-right: 0;
    /* Xアイコンの右マージンを0にする */
}


.sns .icon {
    width: 250px;
    margin-top: 50px;
    /* justify-content: center; */
}

/* ----footer---- */
footer {
    width: 100%;
    max-width: 100vw;
    height: 100px;
    margin: 0 auto;
    /* position: relative; */
    /* overflow: hidden; */
}

.footerwrap {
    position: absolute;
    left: 0;
    width: 100vw;
    /* 画面幅全体にする */
    margin: 0 calc(50% - 50vw);
    /* 中央から左右に広げる */
    /* height: 20px; */
    z-index: -1;
}

.footer-text {
    font-family: 'DreamAvenue', sans-serif;
    letter-spacing: .07em;
    line-height: 20px;
    text-align: center;
}

.footer-rainbow-1 {
    background-color: #f7eee3;
    /* width: 100vw; */
    height: 20px;
    margin: 0 auto;
    z-index: -1;
}

.footer-rainbow-2 {
    background-color: #f2e9bf;

    height: 20px;
    margin: 0 auto;
    z-index: -1;
}

.footer-rainbow-3 {
    background-color: #f2cac4;

    height: 20px;
    margin: 0 auto;
    z-index: -1;
}

.footer-rainbow-4 {
    background-color: #c1e4e6;

    height: 20px;
    margin: 0 auto;
    z-index: -1;
}

.footer-rainbow-5 {
    background-color: #9fd2c9;

    height: 20px;
    margin: 0 auto;
    z-index: -1;
}


.scroolwrap{
    display: none;
    position: fixed;
    bottom: 0%;
    right:  14%;
    width: 80px;
    height:80px;
    margin: 20px auto;
    z-index: 500;
}

.scroll {
    font-size: 18px;
    display: flex;
    justify-content: center;
    /* 水平方向中央 */
    align-items: center;
    /* 垂直方向中央 */
    flex-direction: column;
    /* 矢印を縦に配置 */
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 9px;
}

.pagetopwrap{
    display: none;
    position: fixed;
    bottom: 0%;
    right: 14%;
    width: 80px;
    height: 80px;
    margin: 20px auto;
    z-index: 500;
}

.pagetop {
    font-size: 18px;
    animation: donut-spin 10s linear infinite;
    display: flex;
    justify-content: center;
    /* 水平方向中央 */
    align-items: center;
    /* 垂直方向中央 */
    flex-direction: column;
    height: 80px;
    /* 矢印を縦に配置 */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 9px;
}

div svg {
    overflow: visible;
}

.rotate-svg {
    animation: donut-spin 10s linear infinite;
}

div path {
    fill: none;
}

.scroolwrap text {
    fill: #804e00;
    font-weight:bolder;
    font-family: 'DreamAvenue', sans-serif;
    letter-spacing: -0.01rem;
}

@keyframes donut-spin {
    to {
        transform: rotate(1turn);
    }
}

div text {
    fill: #804e00;
    font-weight:bolder;
    font-family: 'DreamAvenue', sans-serif;
    letter-spacing: 0.12rem;
}

@keyframes donut-spin {
    to {
        transform: rotate(1turn);
    }
}

.arrow-down {
    display: inline-block;
    vertical-align: middle;
    color: #804e00;
    line-height: 1;
    position: relative;
    width: 0.1em;
    height: 1.3em;
    background: currentColor;
    animation: arrow-bounce 1s infinite;
}

.arrow-down {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-down::before {
    content: '';
    width: 0.6em;
    height: 0.6em;
    border: 1px solid currentColor;
    border-top: 0;
    /* 上のボーダーを消す */
    border-left: 0;
    /* 左のボーダーを消す */
    transform: rotate(45deg);
    /* 矢印を下向きに */
    transform-origin: bottom right;
    position: absolute;
    left: -.55em;
    bottom: -0.07em;
    /* 矢印の位置微調整 */
    box-sizing: border-box;
}

.arrow-upwrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-up {
    display: inline-block;
    vertical-align: middle;
    color: #804e00;
    line-height: 1;
    position: relative;
    width: 0.1em;
    height: 1.3em;
    background: currentColor;
    animation: arrow-bounce 1s infinite;
}

.arrow-up::before {
    content: '';
    width: 0.6em;
    height: 0.6em;
    border: 1px solid currentColor;
    border-bottom: 0;
    /* 下のボーダーを消す */
    border-right: 0;
    /* 右のボーダーを消す */
    transform: rotate(45deg);
    /* 矢印を上向きに */
    transform-origin: bottom right;
    position: absolute;
    left: -.55em;
    top: .2em;
    /* 矢印の位置微調整 */
    box-sizing: border-box;
}

@keyframes arrow-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
        /* 少し上に動く */
    }
}
.scroll textPath, .pagetop textPath {
    background-color: white; /* 背景色 */
    padding: 2px 5px; /* 背景の内側余白 */
    border-radius: 5px; /* 背景の角丸をつける（必要に応じて調整） */
}

.rotate-svg text {
    background-color: white; /* 白背景 */
}

/* ----Profile---- */
.profile-ditail {
    margin: 30% auto 0;
}
.profile-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.profile-text {
    width: 450px;
    margin: 50px auto;
}

.my-title {
    font-size: 24px;
    font-family: 'DreamAvenue', sans-serif;
    background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 50px;
}

.my-name {
    font-size: 36px;
    font-family: 'DreamAvenue', sans-serif;
    letter-spacing: 0.1em;
    background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
    margin:  0 auto 50px ;
}

.profile-story {
    width: 500px;
    margin: 0 auto;
    letter-spacing: 0.05em;
    line-height: 3.18;
    text-align: left;
}

/* ----website list / banner list---- */
.website-performance {
    margin-bottom: 50px;
}

.website-group-right,
.website-group-left {
    width: 650px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: linear-gradient(125deg,
            rgba(247, 238, 227, 0.25),
            rgba(242, 233, 191, 0.25),
            rgba(242, 202, 196, 0.25),
            rgba(193, 228, 230, 0.25),
            rgba(159, 210, 201, 0.25));
}

.website-performance-img {
    width: 580px;
}

.performance-name {
    font-size: 28px;
}

.website-group-right {
    margin: 0 0 50px auto;
}

.website-group-left {
    margin-left: -20px;
}

.Banner-performance-img {
    width: auto;
    height: 300px;
    margin: 50px;
}

.website-group-left,
.website-group-right,
.banner-detail-img,
.detail-img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.is-animated {
    opacity: 1;
    transform: translateY(0);
}

.rightAnime {
    margin-right: -30px;
}

.leftAnime {
    margin-left: -30px;
}


.website-group-right,
.website-group-left,
.banner-detail-img,
.detail-img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slideAnimeRightLeft {
    opacity: 1;
    transform: translateY(0);
}

.slideAnimeLeftRight {
    opacity: 1;
    transform: translateY(0);
}

/* 右から左に移動するアニメーション */
.slideAnimeRightLeft {
    opacity: 1;
    transform: translateX(-20px);
    /* 右から左に移動 */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    line-height: 1.5em;

}

/* 左から右に移動するアニメーション */
.slideAnimeLeftRight {
    opacity: 1;
    transform: translateX(20px);
    /* 左から右に移動 */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    line-height: 1.5em;
}

.spbr {
    display: none;
}
/* ----website detail / banner detail---- */

.detail-img {
    width: 680px;
    margin: 0 0 0 40px;
    /* border: 1px solid blue; */
}

.detail-pc-img {
    width: 780px;
}

.detail-sentence {
    width: 500px;
    text-align: left;
    margin: 50px auto;
}

.detail {
    display: flex;
    padding: 15px 0;
    position: relative;
    border-bottom: 1px solid transparent;
    /* 初期は透明 */
}

.detail-taitle {
    width: 30%;
    line-height: 1.75;

}

.detail-text {
    width: 70%;
    line-height: 1.75;
}

.banner-detail-img {
    display: inline-block;
    width: auto;
    height: 350px;
    margin: 0 0 50px -20px;
    /* border: 1px solid blue; */
}
.banner1-detail-img {
    display: inline-block;
    width: auto;
    height: 350px;
    margin: 0 0 50px -23px;
    /* border: 1px solid blue; */
}

.detail::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #b0923f;
    transition: width 1s ease;
    /* アニメーションの速度を設定 */
}

.detail:last-of-type::after {
    display: none;
    /* 最後の .detail 要素のボーダーを非表示 */
}

.detail.show-border::after {
    width: 100%;
    /* アニメーションが完了した後の幅 */
}

/* ----contactform---- */

.contactform-text {
    max-width: 600px;
    margin: 0 auto ;
    text-align: left;
    line-height: 1.75em;
}
.contact {
    margin: 25% auto 0;
}

.Form {
    margin: 50px auto 0;
    max-width: 600px;
}

.Form-Item {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}



.Form-Item-Label {
    font-family: 'DreamAvenue', sans-serif;
    width: 100%;
    max-width: 20%;
    letter-spacing: 0.05em;
    font-weight:bolder;
    font-size: 18px;
}

.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}


.Form-Item-Input {
    border: 1px solid #b0923f;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
  
    background: linear-gradient(60deg,
            rgba(247, 238, 227, 0.3),
            rgba(242, 233, 191, 0.3),
            rgba(242, 202, 196, 0.3),
            rgba(193, 228, 230, 0.3),
            rgba(159, 210, 201, 0.3));
    font-size: 18px;
    color: #804e00;
}

.Form-Item-Textarea {
    color: #804e00;
    border: 1px solid #b0923f;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 250px;
    flex: 1;
    width: 85%;
    max-width: 100%;
    background: linear-gradient(60deg,
            rgba(247, 238, 227, 0.3),
            rgba(242, 233, 191, 0.3),
            rgba(242, 202, 196, 0.3),
            rgba(193, 228, 230, 0.3),
            rgba(159, 210, 201, 0.3));
    font-size: 18px;
}

.Form-Btn {
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 80%; */
    margin: 50px auto;
    text-align: center;
    align-items: center;
    display: block;
    letter-spacing: 0.05em;
    background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5vw;
    line-height: 0.8rem;
}

.contactform-tex-title {
    background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    margin: 10px auto;
}
.lightboxOverlay {
   background: linear-gradient(-35deg,
    #f7eee3,
    #f2e9bf,
    #f2cac4,
    #c1e4e6,
    #9fd2c9) !important;
}

/* slick */

.slick-next {
    display: none;
}

.slick-next:before,
.slick-prev:before {
    display: none;
}

.openbtn,
.sp-nav {
    display: none;
}

/* @media screen and (max-width: 1250px) {
    .scroolwrap{
        right:  9%;
    }} */
@media screen and (max-width: 1150px) {
    .scroolwrap,.pagetopwrap{
        right:  9%;
    }}
@media screen and (max-width: 1050px) {
    .scroolwrap,.pagetopwrap{
        right:  2%;
    }}
@media screen and (max-width:950px) {
    .scroolwrap,.pagetopwrap{
        right:  1%;
    }}

@media screen and (max-width: 768px) {

    body {
        font-size: 3.64vw;
    }

    header.hidden {
        top: 0;
    }

    .pc-nav {
        display: none;
    }
    #spl-logo {
        font-size: 3.1vw;
    }
    /* ---ハンバーガーメニュー--- */
    /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
    .openbtn {
        display: none;
        position: fixed;
        /* 画面に固定する */
        top: 1.5%;
        /* 画面上端からの距離を設定 */
        right: 2%;
        /* 画面右端からの距離を設定 */
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        background-color: #fff;
        opacity: 0.8;
        z-index: 201;
    }

    /*ボタン内側*/
    .openbtn span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
    }

    .openbtn span:nth-of-type(1),
    .openbtn span:nth-of-type(3) {
        height: 2px;
        background: #804e00;
        width: 90%;
        right: 10px;
    }

    .openbtn span:nth-of-type(1) {
        top: 10%;
        right: 5%;
    }

    .openbtn span:nth-of-type(2) {
        top: 50%;
        right: 0%;
        transform: translate(-0%, -50%);
        font-size: 1.2rem;
        font-family: 'DreamAvenue', sans-serif;
        font-weight:bolder;
        letter-spacing: .3rem;
        text-align: center;
        text-transform: uppercase;
        color: #804e00;
    }

    .openbtn span:nth-of-type(3) {
        bottom: 10%;
        right: 5%;
    }

    /*activeクラスが付与されると線が回転して×になり、Menu表記をしている2つ目の要素が透過して消える*/
    .openbtn.active span:nth-of-type(1) {
        top: 50%;
        right: 5%;
        transform: translateY(5%) rotate(-45deg);
        width: 80%;
    }

    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    .openbtn.active span:nth-of-type(3) {
        top: 50%;
        right: 5%;
        transform: translateY(-5%) rotate(45deg);
        width: 80%;
    }

    .openbtn.active {
        background-color: transparent;
    }

    /* menu */
    /* sp-menuの基本スタイル */
    .sp-nav {
        display: none;
        /* 初期状態で非表示 */
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(-35deg, #f7eee3, #f2e9bf, #f2cac4, #c1e4e6, #9fd2c9);
        z-index: 199;
        overflow: hidden;
        /* 画面幅以上の表示を防ぐ */
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        text-align: center;
        padding-top: 50px;
           
        }
        
        .sp-nav.active {
            display: block;
        }

    .sp-nav ul {
        list-style-type: none;
        padding: 50px;
    }

    .sp-nav ul li {
        margin: 50px auto;
        font-weight:bolder;
    }

    .sp-nav ul li a {
        font-family: 'DreamAvenue', sans-serif;
        background: linear-gradient(-65deg, #804e00, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #804e00, #c2a54c, #b0923f, #c2a54c, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c, #b0923f, #804e00, #c2a54c, #b0923f, #b0923f, #804e00, #c2a54c, #b0923f, #c2a54c);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 32px;
        letter-spacing: 0.08em;
        text-decoration: none;
    }

    /* -----mainvisual---- */
    #mainvisual {
        height: 100vh;
    }

    h1 {
        width: 95vw;
    }

    /* ----sub title---- */
    .left-title {
        width: 100%;
        height: auto;
        padding: 3%;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -3%);
        z-index: 1;
    }

    .right-title {
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 3%;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -3%);
        z-index: 1;
    }

    h2 {
        font-size: 18.22vw;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 6.25vw;

    }

    #about,
    #works,
    #information,
    #skills,
    #profile,
    #contactform,
    #website-list,
    #banner-list,
    #website-detail-1 {
        position: relative;
        padding: 10% 0 15%;
    }

    /* #banner-list,
    #website-list {
        padding: 450px 0 100px;
    } */

    .wrapper {
        margin: 80px 15px;
        border: 5px solid transparent;
        border-image: linear-gradient(-45deg, #fbf7c4 0%, #804e00 50%, #b1ae8a 70%, #958d57 85%, #fbf7c4 100%) 1;
        border-radius: 10px;
    }

    #about .link,
    #works .link,
    #profile .link,
    #website-list .link,
    #banner-list .link,
    .detail-link,
    [type="submit"],
    .contactform-link {
        width: 80%;
        height: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20% auto 0;
        font-size: 4.68vw;
        font-weight:bolder;
    }

    /* ----about---- */
/* #about {
    padding: 5% 0 0 0;
} */
.line-color {
    font-size: 5.25vw;
}

    .about-text {
        width: 85vw;
        max-width: 100%;
        margin-left: 0;
        margin: 50% auto 30%;

    }

    .about-title {
        font-size: 5.25vw;
    }

    .about-story {
        margin-top: 50px;

    }


/* ----works---- */
#works {
    padding: 20% 0 10%;
}

.works-title {
    font-size: 6.25vw;
    margin: 50% 0 5% 5%;
}

.banner-title {
    font-size: 6.25vw;
    margin: 5% 0 5% 5%;
}

.website_slider {
    height: auto;

}

.banner_slider {
    height: auto;
}

.banner {
    margin: 100px 0 0;
}
.lb-caption {
    display: none !important;
}
.banner_image {
    height: 350px;
}
    /* -----skills----- */
    .skill {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 15px auto;

    }

    .skills-garrary {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 55% auto 0%;
    }

    .skill-title {
      margin: 0 auto;
    }

    .skill-text {
        font-size: 3.64vw;
    }

    .icon-img {
        width:80px ;
        height: auto;
        padding: 10px;

    }

    /* ----information---- */
    .info {
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 30% auto 0px;
    }

    .contactform,
    .sns {
        width: 80%;
        margin: 5% auto 0;
    }

    .info-text {
        width: 100%;
        margin: 50px auto;
        line-height: 1.75;
        }

    .contactform-icon {
        display: flex;
        margin: 30px auto;
    }
/* 
    .contactform-icon img {
        width:11vw ;
        height: auto;
    } */

    .sns .icon {
        width: 32.55vw;

    }

    .contactform-link {
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
    }
#information h2.text-right {
        font-size: 14.1vw;      
    }
    #contactform h2.text-right {
        font-size: 12.5vw;
    
    }



    /* ----Profile---- */
    .profile-ditail {
        margin: 50% auto 0;
    }
    .profile-img {
        width: 55vw;
        height: auto;
    }

    .profile-text {
        width: 85vw;
    }

    .smooth {
        /* width: 85vw; */
        margin: 0% 5%;
    }

    .my-title {
        font-size: 6.25vw;
    }

    .my-name {
        font-size: 8.07vw;

    }

    .profile-story {
        width: 78.12vw;

    }

/* ----website list / banner list---- */
.website-performance {
    margin-bottom: 50px;
}

.website-group-right,
.website-group-left {
    width: 100%;
    margin-bottom: 50px;
    
}

.website-performance-img {
    width: 580px;
}

.performance-name {
    font-size: 6.25vw;
}

.website-group-right {
    margin: 0  auto 50px;
}

.website-group-left {
    margin-right: auto;
}
.Banner-performance-img {
    width: 58.99vw;
    height: auto;
}
.rightAnime {
    margin-right: -60px;
}
.leftAnime {
    margin-left: -30px;
}
.spbr {
    display:block;
}
/* ----website detail / banner detail---- */

.detail-img {
    width: 100%;
    margin: 0 -40px 0 0px;
    /* border: 1px solid blue; */
}

.detail-pc-img {
    width: 90%;
}

.detail-sentence {
    width: 100%;
    text-align: left;
    margin: 50px auto;
}
.detail {
    position: relative;
    flex-direction: column;
    margin: 5%;
    border: none;
}
.banner-detail-img {
    width: 350px;
    object-fit: cover;
    margin: 0 0 50px -37px;
    /* border: 1px solid blue; */
}
.banner1-detail-img {
    max-width: 350px;
    height: auto;
    object-fit: cover;
    margin: 0 0 50px -2px;
    /* border: 1px solid blue; */
}


.detail-taitle{
    width: 100%;
    position: relative;
    padding-bottom: 5px;
}

.detail-text {
    width: 100%;
    /* padding-left: 15px; ボーダーとの間に少しスペースを作る */
}

/* dtとddの間にボーダーを引く */
.detail-taitle.show-border::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0; /* left: 0; にして幅の開始位置をテキスト下部に調整 */
    transform: translateY(0); /* 中央に配置 */
    width: 0;
    height: 1px;
    background-color: #b0923f;
    animation: border-expand 1s ease forwards;
}

.scroolwrap{
    right:  2%;
    width: 80px;
    height: 80px;
}

.pagetopwrap{
    right: 2%;
 
}
.contact {
    margin :30% auto 10%;
} 
.detail.show-border::after {
    display:none;
    /* アニメーションが完了した後の幅 */
}
/* ボーダーが左から右に広がるアニメーション */
@keyframes border-expand {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* #contactform {
    padding: 300px 0 200px;
} */

.Form {
    margin: 5% 5% 0 3%;
    max-width: 90%;
}

.Form-Item {
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}



.Form-Item-Label {
    width: 100%;
    max-width: 100%;

}

.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}


.Form-Item-Input {
    margin-left: 0px;
    width: 100%;
    max-width: 100%;

}

.Form-Item-Textarea {

    margin-left: 0px;
    width: 100%;
    max-width: 100%;
    
}

.Form-Btn {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    /* font-size: 2vw; */
}

.contactform-text {
    padding: 2%;
}
}
@media screen and (max-width:501px) {
    

}
@media screen and (max-width: 390px) {
#information h2.text-right {
        font-size: 12vw;
    }
    #contactform h2.text-right {
        font-size: 11.5vw;
    }
    #spl-logo {
        font-size: 3vw;
    }
}